@import "_header";


body{
    font-size: large;
    div{
        font-size: 10px;

    }
}
.block {

    &__item {
        background-color: black;
    }

    &__ {
        background-color: green
    }
}
.block 

.block__item 

.block__ 

